Flask==3.0.3
GitPython==3.1.42
Jinja2==3.1.3
MarkupSafe==2.1.5
Pillow==10.1.0
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.17.2
Werkzeug==3.0.2
altair==5.3.0
altgraph==0.17.2
anytree==2.12.1
appdirs==1.4.4
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.7.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
docker-pycreds==0.4.0
exceptiongroup==1.2.0
fasttext==0.9.2
filelock==3.14.0
fonttools==4.47.0
fsspec==2024.5.0
future==0.18.2
gitdb==4.0.11
h11==0.14.0
idna==3.6
importlib-resources==6.1.1
importlib_metadata==7.1.0
itsdangerous==2.2.0
joblib==1.3.2
jsonschema-specifications==2023.12.1
jsonschema==4.21.1
kiwisolver==1.4.5
macholib==1.15.2
markdown-it-py==3.0.0
matplotlib==3.8.2
mdurl==0.1.2
mpmath==1.3.0
networkx==3.2.1
nltk==3.8.1
numpy==1.26.2
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.1
pip==21.2.4
pip==23.3.2
protobuf==4.25.3
psutil==5.9.8
pyarrow==15.0.2
pybind11==2.12.0
pydeck==0.8.1b0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
referencing==0.34.0
regex==2023.12.25
requests==2.31.0
rich==13.7.1
rpds-py==0.18.0
scikit-learn==1.5.0
scipy==1.13.1
selenium==4.18.1
sentry-sdk==1.44.0
setproctitle==1.3.3
setuptools==58.0.4
six==1.15.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
streamlit==1.32.2
sympy==1.12
tenacity==8.2.3
threadpoolctl==3.5.0
toml==0.10.2
toolz==0.12.1
torch==2.3.0
tornado==6.4
tqdm==4.66.2
trio-websocket==0.11.1
trio==0.25.0
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
validators==0.28.1
wandb==0.16.5
wheel==0.37.0
wsproto==1.2.0
zipp==3.17.0